@font-face{
    font-family: 'roboto1';
    src: url('fonts/Roboto-Light.ttf');
}
@font-face{
    font-family: 'roboto2';
    src: url('fonts/Roboto-Bold.ttf');
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-bottom: 120px; /* Space for the footer */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    position: relative;
    width: 250px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, box-shadow 0.5s;
    cursor: pointer;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.card-image img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.card-content p {
    font-size: 1em;
    color: #666;
    margin: 10px 0;
}

.card-content button {
    padding: 10px 20px;
    background: #ea601f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.card-content button:hover {
    background: #ea601f;
}

footer {
    background: #ea601f;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #333;
}

footer p {
    margin: 5px 0;
    font-size: 0.9em;
}


header{
    display: flex;
    text-align: center;
    font-family:'roboto2'; ;
    justify-content: space-between;
    padding: 8px 30px;
    background: url(images/Planes&vistas/Cartagena-.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}




header .menu{
    position: relative;
    display: inline-block;
    margin: 22px;
    
}
header .logo img{
    margin-right: 80px;
    border-radius: 15%;
    width: 120px;
    max-width: 100%;
    
}
header .menu nav{
    flex: 75%;
    padding: 10px;
    
    
}
header .menu nav a{
    padding: 5px;
    margin-right: 50px;
    padding-right: 50px;
    border-right: solid 2px #ea601f;
    font-family: 'roboto2';
    text-decoration: none;
    font-size: 2rem;
    color: #ea601f;
}
header .menu nav a:last-child {
    margin-right: 0; 
    border-right: none;
}
header .menu nav a:hover{
    color:blue;
    text-decoration:underline 3px solid #ea601f;
}


