/* ------------------ General ------------------ */
@font-face{
    font-family: 'roboto1';
    src: url('fonts/Roboto-Light.ttf');
}
@font-face{
    font-family: 'roboto2';
    src: url('fonts/Roboto-Bold.ttf');
}

@media screen and (max-width: 1300px) {
    header {
        flex-direction: column; 
        
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ---------------------------------------------- */
/* -------------------Cabecera------------------- */
header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 8px 30px;
    background: url(images/Planes&vistas/Cartagena-.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}


header .menu{
    position: relative;
    display: inline-block;
    margin: 22px;
}
header .logo img{
    margin-right: 80px;
    border-radius: 15%;
    width: 120px;
}
header .menu nav{
    flex: 75%;
    padding: 10px;
}
header .menu nav a{
    padding: 5px;
    margin-right: 50px;
    padding-right: 50px;
    border-right: solid 2px #ea601f;
    font-family: 'roboto2';
    text-decoration: none;
    font-size: 2rem;
    color: #ea601f;
}
header .menu nav a:last-child {
    margin-right: 0; 
    border-right: none;
}
header .menu nav a:hover{
    color:blue;
    text-decoration:underline 3px solid #ea601f;
}

.planes{
    display: block;
    padding: 18px;
}

.planes img{
    width:30%;   
}



.plan1 img{
    object-fit:scale-down;
}

.plan1{
    display: flexbox;
    position: relative;
    padding: 12px 8px;
   
}

.plan2{
   
    position: relative;
    padding: 12px 8px;
}

.plan3{
    position: relative;
    padding: 12px 8px;
    
}

.plan4{
    position: relative;
    padding: 12px 8px;
}


h2{
    text-align: center;
    font-size: 24px;
    font-family: 'roboto1';
    color: #ea601f;

}

h2:hover{
    transform: scale(1.1);
    transition: 2s;
}

p{
    text-align: center;
    position: relative;

}

.final{
    display: flex;
    height: 400px;
    width: 100%;
    background-color: rgb(149, 251, 251);
}

.redes img{
    width: 18%;
    display: block;
    padding: 15px;
    position: relative;
    right: 0px;
    left: 20px;

}




