/* ------------------ General ------------------ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background-image: url(images/imgFondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'roboto2';
    filter: brightness(1);
}

video{
    width: 100%;
    margin: 0px auto;
}
/* ---------------------------------------------- */
/* -------------------Cabecera------------------- */
header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 8px 30px;
    background: url(images/Planes&vistas/Cartagena-.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

header .menu{
    position: relative;
    display: inline-block;
    margin: 22px;
}
header .logo img{
    margin-right: 80px;
    border-radius: 15%;
    width: 120px;
}
header .menu nav{
    flex: 75%;
    padding: 10px;
}
header .menu nav a{
    padding: 5px;
    margin-right: 50px;
    padding-right: 50px;
    border-right: solid 2px #ea601f;
    font-family: 'roboto2';
    text-decoration: none;
    font-size: 2rem;
    color: #ea601f;
}
header .menu nav a:last-child {
    margin-right: 0; 
    border-right: none;
}
header .menu nav a:hover{
    color:blue;
    text-decoration:underline 3px solid #ea601f;
}
/* ----------------------- Formularios ---------------------- */
h1{
    color: #cf5318;
    font-size: 32px;
    margin: 15px;
    text-align: center;
}
form{
    margin: 0 auto;
}
body .formulario{
    font-family: roboto1;
    background-color: #f4f4f4be;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    font-size: 30px;
}

.formulario1 {
    width: 60%;
    max-width: 600px;
    background-color: #ffffff73;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.formInt label {
    margin-top: 1em;
    display: block;
    color: #2e2e2e;
    font-size: 22px;
}

.comentarios{
    font-size: 22px;
    color: #2e2e2e;
    margin-top: 1em;
}

.formInt input, .formInt select {
    width: calc(100% - 1em);
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ddddddbd;
    border-radius: 4px;
    box-sizing: border-box;
}
.comentarios textarea {
    height: 120px;
    width: 100%;
}

.formInt input[type="submit"], .formInt input[type="reset"] {
    width: auto;
    background-color: #ea601f;
    color: white;
    border: none;
    padding: 0.75em 1.5em;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 3em;
}

.formInt input[type="submit"]:hover, .formInt input[type="reset"]:hover {
    background-color: #cf5318;
}

textarea {
    resize: vertical;
}
/*-------------- Estilos botones ----------------*/
input[type="submit"],
input[type="reset"] {
    background-color: #cf5318;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 200px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #7e320f;
}

/* Estilos para etiquetas y otros elementos */
label {
    font-weight: bold;
}
/* ------------------------------------------------------- */
@font-face{
    font-family: 'roboto1';
    src: url('fonts/Roboto-Light.ttf');
}
@font-face{
    font-family: 'roboto2';
    src: url('fonts/Roboto-Bold.ttf');
}
